@import "variables";
@import "fonts";
@import "footer";

*{
    font-family: 'Montserrat', sans-serif;
}

/* CLASES*/

/* Nav */
.body-bg{
    background-image: url(../img/background_squares.jpg);
    background-attachment: fixed;
    margin-bottom: 4rem;
}

.bg-nav-camel{	
    background-color: $tertiaryColor;
}

.bg-nav-aqua{	
    background-color: $mainColor;
}

.text-camel{	
    color: $tertiaryColor;
    font-size: 1.7rem;
}

.text-white{	
    color: $white;
    font-size: 1.7rem;
    &:hover{	
        color: rgb(247, 239, 221);
        font-weight: 400;
        transform: scale(1.1);
        text-decoration: underline;
        transition: all 0.75s;
    }
}

 /* Main */
.bg-camel{	
    background-color: $tertiaryColor;
}

.text-titulos{	
    color: $mainColor;
    font-size: 2.5rem;
    text-align: center;
    text-transform: uppercase;
}

.text-subt{	
    color: $mainColor;
    font-size: 2rem;
}

.text-med{	
    color: $grey2;
    font-size: 1.5rem;
}

.text-parr{	
    color: $grey1;
    font-size: 1.4rem;
}

.text-plain{	
    color: $grey1;
    font-size: 1.25rem;
}

.text-enunciado{	
    color: $black;
    font-family: 'Montserrat';
    font-size: 2rem;
    font-weight: 600;
}

.text-quote{	
    color: $black;
    font-family: 'Philosopher';
    font-size: 3rem;
    font-style: italic;
}

.text-btn{	
    color: $white;
    font-size: 1.25rem;
}

.text-bold{	
    font-size: 1.25rem;
    font-weight: 600;
}

.text-bold-color{	
    color: $mainColor;
    font-size: 1.25rem;
    font-weight: 600;
}

.text-name {	
    color: $tertiaryColor;
    font-size: 1.25rem;
    font-weight: 400;
}

.text-shadow{	
    text-shadow: 3px 3px 4px #696969;
}

.margin-left {	
    margin-left: 2rem;;
}

/* Cards y formularios */

.card {
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4.5px );
    -webkit-backdrop-filter: blur( 4.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    }

.btn-aqua{
    background: linear-gradient(-45deg, #3b8077, #549f93, #44a3e3, #7938f2);
    background-size: 800% 400%;
    padding: 1em 2em;
    display: inline-block;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: 400;
    color: $white;
    transition: all .5s ease-in-out;
    animation: gradient 10s infinite cubic-bezier(.62, .28, .23, .99) both;
    &:hover {
        animation: gradient 3s infinite;
        font-size: 600;
        transform: scale(1.05);
    }
}

btn-aqua:active {
    animation: gradient 3s infinite;
    transform: scale(0.8);
}

@keyframes gradient {
0% {
 background-position: 0% 50%;
}

50% {
 background-position: 100% 50%;
}

100% {
 background-position: 0% 50%;
}
}

/*
.btn-aqua{	
    color: #ffffff;
    background-color: #6fbdb0;
}

.btn-aqua:hover{	
    color: #ffffff;
    background-color: #528e86;
    font-weight: 400;
    transform: scale(1.1);
    transition: all 1.5s;
}*/

.img-circle{
    width: 70%;
    border-radius: 1rem;
    margin: 5%;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4.5px );
    -webkit-backdrop-filter: blur( 4.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    &:hover{	
        width: 80%;
        transition: all 1.5s;
    }
}

.img-animation{
    animation-delay: 2s;
}


/* FOOTER*/

/*GRIDS servicios.html*/

.container {    
    width: 100%;
    margin: 10px auto;
    padding: 10px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat (3, 1fr);
    grid-template-rows: repeat (2, 1fr);
    grid-template-areas: "tall charlas invest"
                        "frase-1 frase-1 frase-2";
}

.container > div,
.container .tall,
.container .charlas,
.container .invest {
    background-color: $white;
    padding: 10px;
    font-size: 1rem;
    color: $black;
    border-radius: 4px;
}

/*
.container .sidebar {
    background-color: #528e86;
    color: #fff;
    font-size: 1.5rem;
    border-radius: 4px;
    text-align: left;
} */

.container .frase-1,
.container .frase-2 {
    background-color: $mainColor;
    color: $white;
    padding: 10px;
    border-radius: 4px;
}

.tall {
    grid-area: tall;
    grid-column: 1 / 2;
}

.charlas {
    grid-area: charlas;
    grid-column: 2 / 3;
}

.invest {
    grid-area: invest;
    grid-column: 3 / 4;
}
 /*
.sidebar {
    grid-area: sidebar;
    grid-column: 4 / 5;
    grid-row: 1 / 3;
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 20px;
} */

.frase-1 {
    grid-area: frase-1;
    grid-column: 1 / 3;
    background-color: $mainColor;
    color: $white;
    align-items: left;
    text-align: left;
    font-style: italic;
}

.frase-2 {
    grid-area: frase-2;
    grid-column: 3 / 5;
    background-color: $mainColor;
    color: $white;
    align-items: left;
    text-align: left;
    font-style: italic;
}

/* MEDIA QUERIES*/

@media (max-width:480px){
    .container {
        grid-template-areas: "tall"
                            "charlas"
                            "invest"
                            "frase-1"
                            "frase-2";
    }
}

@media (max-width:768px){
    .container {
        grid-template-areas: "tall charlas invest"
                            "frase-1 frase-1 frase-2";
    }
}





/* {} */